@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 38%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Purple: hsl(241, 100%, 66%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body, html{
    height: 100vh;
}

body{
    background-color: var(--Off-Black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--Dark-Grey);
    width: 400px;
    padding: 2.5rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    margin-bottom: 2rem;
}

img{
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1{
    color: var(--White);
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

.info .local{
    color: var(--Purple);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.info .descricao{
    color: var(--Grey);
    font-weight: 600;
}

.links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links a{
    background-color: var(--Grey);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




